body{
    background-image: url("images/new_york_city.jpg");
    background-size: cover;
}
.clock{
    margin: 200px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    border-radius: 3rem;
    backdrop-filter: blur(50px);
    padding: 5px 50px;
    border: 1px solid black;
    font-weight: bold;
    font-size: 1.5rem;
}
