
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container{
    display: flex;
    width: 90vw;
}
.item{
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    border-radius: 40px;
    margin: 10px;
    flex: 0.5;
    color: white;
    cursor: pointer;
    position: relative;
}
.item h3 {
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    opacity: 0;
    
}
.enabled{
    flex: 5;
    transition: all 1s ease;
}
.enabled h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}
