body{
    background-color: hsl(195, 53%, 89%);
}
.main{
    background-color: hsl(195, 53%, 80%);
    padding: 50px;
    max-width: 300px;
    border-radius: 20px;
    margin: 140px auto;
    text-align: center;
}
h1{
    text-decoration: underline;
    font-size: 2.5rem;
}
.numbers button{
    margin: 0px auto;
    font-size: 5rem;
    margin-bottom: 50px;
    border: none;
    display: none;
}
.alterator button{
    font-size: 1.5rem;
    border: none;
    background-color: hsl(0, 0%, 90%);
    border-radius: 50px;
    padding: 5px 15px;

    position: absolute;
    top: 50%;
}
.alterator button:hover{
    background-color: hsl(0, 0%, 60%);
}
.numbers button.display{
    display: block;
    animation-name: fade;
    animation-duration: 0s;
}
.prev{
    left: 530px;
}
.next{
    right: 530px;
}
@keyframes fade{
    from {opacity: 0.5} 
    to {opacity: 1}
}