.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(195, 53%, 89%);
    border-radius: 30px;
    width: 500px;
    height: 50vh;
    text-align: center;
    margin: auto;
}
#display{
    margin-bottom: 60px;
    text-align:center;
    font-size: 5rem;
}
.buttons button{
    font-size: 2rem;
    margin: 0px 5px;
    border-radius: 20px;
    border: none;
    color: white;
    padding: 5px 15px;
}
#increase{
    background-color: hsl(120, 100%, 25%);
}
#increase:hover{
    background-color: hsl(120, 100%, 35%);
}
#reset{
    background-color: hsl(240, 100%, 50%);
}
#reset:hover{
    background-color: hsl(240, 100%, 60%);
}
#decrease{
    background-color: hsl(0, 100%, 50%);
}
#decrease:hover{
    background-color: hsl(0, 100%, 50%);
}